body{
    background-image: url(img/background.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-size: cover;
  }
  
  p{
    color: white;
  }
  
  #message-el {
    color: #e60a35;
  }
  
  h1{
    color: goldenrod;
  }
  
  button{
    color: #000000;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
  }

  #player-el {
    color: #e60a35;
  }

  #refresh-el {
    color: white;
    text-decoration: none;
    padding: 5px;
    border: none;
    background: none;
  }

  #refresh-el:hover {
    transition: 0.7s;
    transform: scale(1.2);
  }
  
  