body{
    background-image: url(img/background.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .content {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 60%;
    align-items: center;
    border-top: 3px inset;
    border-right: 3px outset;
    border-left: 3px inset;
}
  
  p{
    color: white;
  }
  
  #message-el {
    color: #e60a35;
  }
  
  h1{
    color: goldenrod;
    margin-bottom: -7px;
  }
  
  button {
    color: #000000;
    background: goldenrod;
    width: 150px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }

  button:hover {
    background: none;
    color: goldenrod;
  }

  #sg {
    margin-bottom: -7px;
  }

  #nc {
    margin-top: -7px;
  }

  #player-el {
    color: #e60a35;
  }

  #refresh-el {
    color: white;
    text-decoration: none;
    padding: 5px;
    border: none;
    background: none;
  }

  #refresh-el:hover {
    transition: 0.7s;
    transform: scale(1.2);
    border-bottom: 3px solid goldenrod;
    border-radius: 4px
  }
  
  @media(max-width: 768px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
    .content {
        padding-top: -7px;
        padding-bottom: 20px;
        margin-top: -125px;
        margin-bottom: 125px;
        width: 18rem;
        height: 45%;
    }
  }
  
  
